<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FrothingFest</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>
<style>
    .table-content-class {
        overflow-y: hidden;    
        overflow-x: scroll; 
    }
</style>
<body>
    <section class="hero has-background-grey-lighter is-fullheight">
        <div class="hero-head">
            <nav class="navbar is-fixed-top has-background-link">
                <div class="container is-fluid">
                    <div class="navbar-brand">
                        <a href="{{ url_for('main.index') }}" class="navbar-brand">
                            <img src="/image/NavBarLogo.png" alt="Frothing Logo">
                        </a>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-start">
                            <a href="{{ url_for('main.index') }}" class="navbar-item has-text-black-bis is-size-4">
                                Vintage
                            </a>
                            <a href="{{ url_for('main.index') }}" class="navbar-item has-text-black-bis is-size-4">
                                Merch
                            </a>
                            <a href="{{ url_for('main.index') }}" class="navbar-item has-text-black-bis is-size-4">
                                Upcoming Events
                            </a>
                        </div>
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item has-text-black-bis is-size-4">
                                Home
                            </a>
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.profile') }}" class="navbar-item has-text-black-bis is-size-4">
                                Profile
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item has-text-black-bis is-size-4">
                                Login
                            </a>
                            <a href="{{ url_for('auth.signup') }}" class="navbar-item has-text-black-bis is-size-4">
                                Sign Up
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item has-text-black-bis is-size-4">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <img src="/image/VerticalSideLogo.png" alt="Frothing Logo">
            <div class="container is-fluid has-text-centered is-marginless">
               {% block content %}
               {% endblock %}
            </div>
            <img src="/image/VerticalSideLogo.png" alt="Frothing Logo">
        </div>
    </section>
</body>

</html>