{% extends "base.html" %}

{% block content %}
<div class="columns is-4 is-offset-4">
    <div class="column is-one-quarter">
        <div class="box has-background-grey has-text-white is-size-4">
            Product List
        </div>
        {% for x in productList %}
            <div class='box'> 
                <div class="columns">
                    <div class="column is-half">
                        {{x.productName}}
                        <br> Price: {{x.productPrice}}
                        <br> Quantity: {{x.productQuantity}}
                    </div>
                    <div class="column">
                        <img src="/product/Thumbnail_Image_{{x.id}}.png" alt="Product {{x.productName}} Logo">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="column is-half" >
        something
    </div>
    <div class="column is-one-quarter" >
        <div class="box">
            <h3 class="title">Add a product</h3>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form enctype="multipart/form-data" method="POST" action="/addProduct">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="productType" name="productType" placeholder="productType" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="productName" name="productName" placeholder="productName" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="productPrice" name="productPrice" placeholder="productPrice">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="productQuantity" name="productQuantity" placeholder="productQuantity">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        Upload Product Image
                        <input id="fileupload" name="myFile" type="file" >
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Add Product</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}