{% extends "base.html" %}

{% block content %}
<div class="columns is-4 is-offset-4">
    <div class="column list is-one-quarter">
        <div class="box has-background-grey has-text-white is-size-4">
            Product List
        </div>
        {% for product in productList %}
            <div class="columns is-gapless box">
                <div class="column is-one-quarter">
                    <img src="/product/Thumbnail_Image_{{product.id}}.png" alt="Product Image">                 
                </div>
            
                <div class="column is-half">
                    <div class="is-size-5" style="color:hsl(0, 0%, 0%); ">{{product.name}}</div>
                    <div class="">
                        Price: {{product.price}}
                        <br> Quantity: {{product.quantity}}
                        <br> {{product.type}}
                    </div>
                </div>
            
                <div class="column is-one-quarter">
                  <div class="buttons is-right">
                    <a href="/dashboard/{{product.id}}" class="button">
                        Edit
                    </a>
                    <form method="POST" action="/deleteProduct/{{product.id}}">
                        <button class="button has-text-white-ter" style="background-color:hsla(0, 76%, 45%, 0.932);" s>
                            Delete
                        </button>
                    </form>
                  </div>
                </div>
              </div>
        {% endfor %}
    </div>
    <div class="column is-half" >
        <div class="box columns">
            {% if product %}
                <img src="/product/Thumbnail_Image_{{product.id}}.png" alt="Product Image">
                <div class="column is-half has-text-left" >
                    Product Type: <b>{{product.type}}</b>
                    <br>
                    Name: <b>{{product.name}}</b>
                    <br>
                    Price: ${{product.price}}
                    <br>
                    Quantity: {{product.quantity}}
                    <br>
                    Promote: {{product.priority}}
                </div>
                <div class="column is-half" >
                    {{product.type}}
                    <br>
                    {{product.name}}
                    <br>
                    {{product.price}}
                    <br>
                    {{product.quantity}}
                    <br>
                    {{product.priority}}
                </div>
            {% else %}
                Select a Product to Edit
            {% endif %}
        </div>
    </div>
    <div class="column is-one-quarter" >
        <div class="box">
            <h3 class="title">Add a product</h3>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form enctype="multipart/form-data" method="POST" action="/addProduct">
                <div class="field">
                    <div class="control">
                        Product Type:<br>
                        <input type="radio" name="productType" value = Merch autofocus="">Merch
                        <input type="radio" name="productType" value = Vintage autofocus="">Vintage
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="productName" name="productName" placeholder="Product Name" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" step="0.01" name="productPrice" placeholder="Price">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="productQuantity" placeholder="Quantity">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        Upload Product Image
                        <input id="fileupload" name="myFile" type="file" >
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Add Product</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}