{% extends "base.html" %}

{% block content %}
<img src="/image/HomePageLogo.png" alt="Frothing Logo">
<section class="section">
  <h1 class="title">Welcome to Frothing Fest!</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>
<section class="section">
  <h1 class="title"> Top Vintage Selections</h1>
  <div class="table-container is-fullwidth" style="height: fit-content; margin: auto; width: 1200px; overflow-x:scroll;">
    <table class="table is-fluid" style="width: 3000px;">
      <tbody>
        <tr>
          <td>
            <p>hi</p>
            <img src="/image/HomePageLogo.png" alt="Frothing Logo">
          </td>
          <td>
            <p>hi</p>
            <img src="/image/HomePageLogo.png" alt="Frothing Logo">
          </td>
          <td>
            <p>hi</p>
            <img src="/image/HomePageLogo.png" alt="Frothing Logo">
          </td>
          <td>
            <p>hi</p>
            <img src="/image/HomePageLogo.png" alt="Frothing Logo">
          </td>
          <td>
            <p>hi</p>
            <img src="/image/HomePageLogo.png" alt="Frothing Logo">
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
<section class="section">
  <h1 class="title">Frothing Merch</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>
<h1 class="title">
  Flask Login Example
</h1>
<h2 class="subtitle">
  Easy authentication and authorization in Flask.
</h2>
{% endblock %}