{% extends "base.html" %}

{% block content %}
<div>
  <img src="/image/HomePageLogo.png" alt="Frothing Logo">
</div>
<section class="section">
  <h1 class="title">Welcome to Frothing Fest!</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>

<section class="section is-mobile">
  <h1 class="title"> Top Vintage Selections</h1>
  <div class="table-container is-fullwidth" style="height: fit-content; margin: auto; width: 1200px; overflow-x:scroll;">
    <table class="table is-fluid is-mobile" style="width:{{vintageSize}}px">
      <tbody>
        <tr>
          {% for product in vintageProducts  %}
          <a href=""> 
            <td>
              <div class="box" style="width: 10%; height:10%; box-sizing: initial; position: relative;" >
                <div style="height: 150px;">
                  <img src=/product/Thumbnail_Image_{{product.id}}.png alt=Vintage{{product.id}} class="center" style="align-content:center"> 
                <div>
                <div style="bottom: 10px; width: 200px; position:absolute;">
                  <p style="text-align: center;">{{product.name}}</p>
                  <p style="text-align: center;">{{product.price}}</p>
                </div>
              </div>
            </td>
          </a> 
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="section">
  <h1 class="title">Frothing Merch</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>
<h1 class="title">
  Flask Login Example
</h1>
<h2 class="subtitle">
  Easy authentication and authorization in Flask.
</h2>
{% endblock %}